section#jobs{

}
.boost{
  margin-left: 160px;
}
.addjob{
  background: #EDEDED;
  button{
    margin-bottom: 1rem;
  }
}
img{
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
section#review{
  .btn{
    margin: 0px 4px;
  }
}
