nav{
  background: $color-main;
  margin-bottom: 1rem;
  button{
    background: $color-main;
    color: white;
    &:hover{
      color:rgb(255, 255, 0);
    }
  }
  a{
    color: white;
    &:hover{
      color:rgb(255, 255, 0);
    }
  }
  .modal-footer{
    a{
      color: blue;
    }
  }
  form{
    margin-right: 1rem;
  }
}
